<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>

<body>

    <!-- Main container for everything -->
    <div class="container">

        <!-- Helps keep footer at bottom -->
        <div class="content-wrap">

            <%- include('../partials/header') %>

            <!-- Main Content -->
            <div class="sitebody">
                <p><a href="">Home</a> > <a href="./feedback">Feedback</a></p>
                <h1>Feedback Page</h1>

                <!-- Flexbox for Image on the left and Content on the right -->
                <div class="search-flex-container">
                    <div class="search-image">
                        <!-- ../../img/fluent-mdl2_feedback.svg -->
                        <img src="/Producer/Public/img/fluent-mdl2_feedback.svg" alt="Feedback Icon" width="200" height="200">
                    </div>
                    <div class="search-content">
                        <p>Send a feedback message to a DJ!</p>
                        <div class="list-box">
                            <div class="grid-item">
                                <h2>Leave Feedback</h2>
                                <form action="submitFeedbackURL" method="post" onsubmit="return confirmFeedbackSubmission();">
                                    <!-- Dropdown to select a DJ to send the the feedBack to-->
                                    <label for="djSelect">Select DJ:</label>
                                    <select name="djSelect" id="djSelect">
                                        <option value="dj1">DJ 1</option>
                                        <option value="dj2">DJ 2</option>
                                        <option value="dj3">DJ 3</option>
                                    </select><br><br>
                        
                                    <textarea name="feedbackText" rows="5" cols="50" placeholder="Type your feedback here..."></textarea><br>
                                    <input type="submit" value="Submit Feedback">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <%- include('../partials/footer') %>

            <%- include('../partials/audioPlayer') %>

        </div>
    </div>

</body>

</html>
