<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <style>
        tbody{
            color:darkslategrey;
        }

        table td:first-child{
            color: black;
        }
        .row{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;
        }
        .column{
            display: flex;
            flex-direction: column;
            flex-basis: 100%;
            flex: 1;
        }
    </style>
</head>
<body>

    <!-- Main container for everything -->
    <div class="container">

        <!-- Helps keep footer at bottom -->
        <div class="content-wrap">
            
            <!-- Header -->
            <header>
                <%- include('../partials/header'); %>
            </header>

            <!-- Main content -->
            <div class="sitebody">
                <p><a href="" style="color:blue">Home</a> > <a href="/index" style="color:blue">Time Slots</a> > <a href="/manage">Manage Time Slot</a> > View Past Playlist</p>
                <h1>Select songs</h1>

                <div class="row">
                
                    <!--Left column of grid layout-->
                    <div class="column" style="flex: 1">
                        <figure>
                            <img src="/img/searchicon.png" style="max-width: 200px; max-height:200px;"/>
                            <figcaption>
                                <h2>Viewing past playlist</h2>
                                <h3 class="past-date-time">10/18/2023 9:00pm - 11:00pm</h3>
                            </figcaption>
                        </figure>
                    </div>
                
                    <!--Right column of grid layout-->
                    <div class="column" style="flex: 2">

                        <!--Playlist for past timeslot-->
                        <div>
                            <h2>[Past playlist title]</h2> 

                            <div class="listing">
                                <div class="list-box">
                                    <!-- List elements here -->
                                    <div class="grid-item">

                                        <form id="past-playlist-form">
                                            <table>
                                                <thead>
                                                    <th></th>
                                                    <th>Artist</th>
                                                    <th>Song Title</th>
                                                    <th>Actions</th>
                                                    <th>Select</th>
                                                </thead>
                                                <tbody id="table-body">
                                                    <tr>
                                                        <td><b>1</b></td>
                                                        <td class="artist">Taylor Swift</td>
                                                        <td class="song">Cruel Summer</td>
                                                        <td>
                                                            <button class="play-btn" type="button">Play</button>
                                                        </td>
                                                        <td>
                                                            <input type="checkbox" class="checkbox"/>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td><b>2</b></td>
                                                        <td class="artist">Drake</td>
                                                        <td class="song">Virginia Beach</td>
                                                        <td>
                                                            <button class="play-btn" type="button">Play</button>
                                                        </td>
                                                        <td>
                                                            <input type="checkbox" class="checkbox"/>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                                <tfoot>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td>
                                                        <input type="submit" value="Add to current timeslot" id="submit-past-songs"/>
                                                    </td>
                                                </tfoot>
                                            </table>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Footer -->
            <footer>
                <%- include('../partials/footer'); %>
            </footer>
        </div>

        <!-- Audio Player -->
        <div id="audio-player">
            <%- include('../partials/player'); %>
        </div>
    </div>
</body>
</html>