:root {
    --hover-color: black;
    --primary-color: #457B9D;
    --secondary-color: #1D3557;
    --shading: #edf0f2;
}

/*-------------------General site elements-----------------*/

body {
    font-family: Arial;
    color: black;
    margin: 0;
}

.container {
    padding-top: 0px;
    padding-bottom: 0px;
}

/*------------------Header style----------------------*/
header {
    background-color: var(--primary-color);
    color: white;
}

header a{
    color: white;
    text-decoration: none;
}

header a:hover {
    color: var(--hover-color);
}

.top-grid {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    min-height: 50px;
    width: 100%;
}

.top-grid form{
    margin: 0;
    padding: 0;
}

.top-grid img {
    max-width: 100%;
}

#sitelogo {
    padding-left: 0;
    padding-right: 0;
    grid-column: 1;
}

#search {
    grid-column: 2 / 3;
}

#search-form {
    width: 100%;
}

#search-bar {
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    box-sizing: border-box;
}

#welcome {
    padding-left:5px;
    padding-right:5px;
    grid-column: 3;
}

header input[type=text]{
    box-sizing: border-box;
    border: 2px solid var(--primary-color);
    border-radius: 4px;
    background-color: white;
    background-image: url('../img/searchicon.png');
    background-size: 24px;
    background-position: calc(100% - 5px) center;
    background-repeat: no-repeat;
    font-size: 16px;
    width: 100%;
}

.sitenav {
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
}

nav {
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;   
}

/* Dropdown menu for user */
.usernav {
    position: relative;
    display:inline-block;
    text-align: center;
}

.usernav:hover .user-options {
    display: block;
}

.usernav:hover #user-hover {
    background-color: black;
}

#user-hover {
    background-color: var(--secondary-color);
    color: white;
    padding:16px;
    border: none;
    width: 100%;
}

.user-options {
    display: none;
    position: absolute;
    background-color: white;
    color: black;
    box-shadow: 0px 8px 10px 0px rgba(0,0,0,0.1);
    z-index: 1;
    width: 100%;
    text-align: left;
    
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 0px;
}

.user-options a {
    color: black;
    text-decoration: none;

    display: block;
}

.user-options a:hover {
    background-color:beige;
}

.dropdown-option {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 2.5%;
    padding-right: 2.5%;
    width: 95%;
}
/*End of user dropdown*/

.hamburger-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.sitebody {
    padding-left: 5%;
    padding-right: 5%;
}

#content-wrap {
    padding-bottom: 10.5rem;
}

/*-----------Page body stuff-----------*/
/*Buttons*/
button{
    background-color: #1D3557;
    color: white;
    border: none;
    border-radius: 4px;
}

button a{
    text-decoration: none;
    color: white;
}

button:hover {
    background-color: var(--primary-color);
}

/*----------FORMS----------------------------*/
input[type=submit]{
    background-color: var(--secondary-color);
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px;
}

input[type=submit]:hover{
    background-color: var(--primary-color);
}

/*----------FIGURES AND CAPTIONS-------------*/
figure{
    padding: 0px;
    margin: 0px;
}

/*Listings within the page*/
.list-box {
    display: inline-flexbox;
    flex-direction: row;
    /*display: grid;*/
    /*grid-template-columns: 1fr 2fr 3fr;*/
    border: solid 1px gray;
    border-radius: 4px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
}

.list-box #list-icon{
    height:100px;
    width: 100px;
    padding: 20px 10px 10px 10px;
}

.list-box .grid-item {
    text-align: left;
    display: block;
}

.list-box button{
    padding: 5px 5px 5px 5px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.list-box li {
    list-style-type: none;
    padding-bottom: 5px;
}

.list-box table{
    width: 100%;
    padding-top: 20px;
    border-spacing: 0px;
    margin: 1%;
}

.list-box table tr{
    margin: 5px;
}

.list-box table tr:nth-child(even){
    background-color: var(--shading);
}

.list-box table td{
    padding: 5px;
}

.listing {
    padding-top: 10px;
}

/*---------------Footer content-----------------*/
footer {
    background-color: var(--secondary-color);
    text-align: center;
    color: white;
    width: 100%;
    height: 10.5rem;
    left: 0;
    bottom: 0;
}

#footer-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
}

#footer-links {
    margin-top: 0;

}

footer img{
    height: 60px;
}

.link-grid {
    display: inline-grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    height: 50%;
}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5vw;
    padding-right: 5vw;
    text-align: center;
}

footer a {
    color: white;
}

footer a:hover {
    color: var(--hover-color);
}

footer .link-grid {
    padding-top: 0px;
    margin-bottom: 10px;
}
/*End of footer content*/


/*--------------------------Audio---------------------------*/
#audio-player {
    display: flex;
    align-items: center;
    position: sticky;
    bottom: 0;
    background-color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 10px;
    box-shadow: 10px 10px 5px 10px var(--secondary-color);
}

#audio-player-options {
    display: flex;
}

#audio-player-options button {
    margin-top: 0%;
    margin-bottom: 0%;
    margin-right: 5px;
    background-color: white;
    color: black;
    border: 1px solid black;
}

#audio-player-options button:hover {
    background-color: #cccccc;
}

audio::-webkit-media-controls-panel{
    background-color: white;
    box-shadow: none;
}

audio {
    background-color: transparent;
    padding-right: 5px;
    margin-right: 10px;
    flex: 1;
}

/*search css content
* Flexbox for search results */
.search-flex-container {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 10px;
}

.search-image img {
    /*max-width: 20%;
    display: block;
    */
    flex: 0 0 20%;
    display: flex;
    align-items: center; /* center the image vertically */
    justify-content: center;
}
.search-image img {
    max-width: 100%; 
    height: auto;
}

.search-content {
    flex: 0 0 80%;
    padding: 20px;
    border: 1px solid var(--shading);
    border-radius: 4px;
}

#search-title {
    margin-bottom: 20px;
}

.list-box-Search {
    display: flex;             /* flex container */
    justify-content: space-between; /* Space between the two divs */
    align-items: start;        /* Align to the top */
}

.grid-item-Search {
    flex: 1;                   /* item takes equal width */
    margin: 10px;              /* Optional: add some spacing */
}
#artist-image {
    max-width: 300px;
    max-height: 300px;
    display: block; 
    margin-left: 0; 
    margin-right: auto;
}

.boldAndLarge {
    font-size: 18px; /* bold text change size  */
    font-weight: bold;
}

#user-hover_Menu img {
    background-color: var(--secondary-color);
    border: none;
    /*vertical-align:baseline;*/
    padding: 16px;
    /*margin-right: 10px;
    padding-bottom: 10px;*/
    border: none;
    width: 100%;
}

/*calnder code*/

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-left: 25%;
}

.wrapperCalendar{
    /* width: 450px; */
    width: 100%;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 15px 40px rgb(234, 235, 247);
  }
  .wrapperCalendar header{
    display: flex;
    align-items: center;
    padding: 25px 30px 10px;
    justify-content: space-between;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: #457B9D;
  }
  header .iconsCalendar{
    display: flex;
    
  }
  header .iconsCalendar span{
    height: 38px;
    width: 38px;
    margin: 0 1px;
    cursor: pointer;
    color: #ffffff;
    text-align: center;
    line-height: 38px;
    font-size: 1.9rem;
    user-select: none;
    border-radius: 50%;
  }
  .iconsCalendar span:last-child{
    margin-right: -10px;
  }
  header .iconsCalendar span:hover{
    background: #f2f2f2;
    
  }
  header .current-date{
    font-size: 1.45rem;
    font-weight: 500;
  }
  .calendar{
    padding: 20px;
    background: #498ff8;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .calendar ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    /* box-shadow: 0px 40px 30px -20px rgb(247, 224, 224); */
  }
  .calendar .days{
    margin-bottom: 20px;
  }
  .calendar li{
    color: #333333;
    width: calc(100% / 7);
    font-size: 1.07rem;
  }
  .calendar .weeks li{
    font-weight: 500;
    cursor: default;
  }
  .calendar .days li{
    z-index: 1;
    cursor: pointer;
    position: relative;
    margin-top: 30px;
  }
  .days li.inactive{
    color: #aaa;
  }
  .days li.active{
    color: #fff;
  }
  .days li::before{
    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    height: 40px;
    width: 40px;
    z-index: -1;
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }
  .days li.active::before{
    background: #2834e7;
  }
  .days li:not(.active):hover::before{
    background: #f2f2f2;
  }