<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PopCraze Radio</title>
    <link rel="stylesheet" href="../../style/group06.css">
    <link rel="stylesheet" href="../../style/dj.css">
    <script src="../../js/DJ/dj.js"></script>
    <style>
        tbody{
            color:darkslategrey;
        }

        table td:first-child{
            color: black;
        }
        .row{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;
        }
        .column{
            display: flex;
            flex-direction: column;
            flex-basis: 100%;
            flex: 1;
        }
    </style>
</head>
<body>

    <!-- Main container for everything -->
    <div class="container">

        <!-- Helps keep footer at bottom -->
        <div class="content-wrap">
            
            <!-- Header -->
            <header>
                <!-- Site logo / Search bar / Welcome -->

                <div class="top-grid">
                    <!-- Logo -->
                    <div class="grid-item" id="sitelogo">
                        <img src="../../img/logo.png" alt="Logo">
                    </div>

                    <!-- Search (TODO: trying to get it to take up more space)-->
                    <div class="grid-item" id="search">
                        <form id="search-form">
                            <input type="text" id="search-bar" name="search" placeholder="Search...">
                        </form>
                    </div>

                    <!-- Welcome -->
                    <div class="grid-item" id="welcome">
                        Welcome, [USER]!
                    </div>
                </div>

                <!-- Navigation -->
                <nav>

                    <!-- General navigation -->
                    <div class="link-grid" style="height:100%">
                        <div class="grid-item"><a href=""><b>Home</b></a></div>
                        <div class="grid-item"><a href=""><b>About</b></a></div>
                        <div class="grid-item"><a href=""><b>Contact</b></a></div>
                        <div class="grid-item"><a href=""><b>News</b></a></div>
                    </div>

                    <!-- User-specific navigation -->
                    <div class="usernav">
                        <button id="user-hover"><b>DJ Menu</b></button>
                        <div class="user-options">
                            <ul style="padding: 0px; margin: 0; list-style-type: none">
                                <li><a href="./index.html" class="dropdown-option">View Time Slots</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </header>

            <!-- Main content -->
            <div class="sitebody">
                <p><a href="" style="color:blue">Home</a> > <a href="./index.html" style="color:blue">Time Slots</a> > <a href="./manage.html">Manage Time Slot</a> > View Past Playlist</p>
                <h1>Select songs</h1>

                <div class="row">
                
                    <!--Left column of grid layout-->
                    <div class="column" style="flex: 1">
                        <figure>
                            <img src="../../img/searchicon.png" style="max-width: 200px; max-height:200px;"/>
                            <figcaption>
                                <h2>Viewing past playlist</h2>
                                <h3 class="past-date-time">10/18/2023 9:00pm - 11:00pm</h3>
                            </figcaption>
                        </figure>
                    </div>
                
                    <!--Right column of grid layout-->
                    <div class="column" style="flex: 2">

                        <!--Playlist for past timeslot-->
                        <div>
                            <h2>[Past playlist title]</h2> 

                            <div class="listing">
                                <div class="list-box">
                                    <!-- List elements here -->
                                    <div class="grid-item">

                                        <form id="past-playlist-form">
                                            <table>
                                                <thead>
                                                    <th></th>
                                                    <th>Artist</th>
                                                    <th>Song Title</th>
                                                    <th>Actions</th>
                                                    <th>Select</th>
                                                </thead>
                                                <tbody id="table-body">
                                                    <tr>
                                                        <td><b>1</b></td>
                                                        <td class="artist">Taylor Swift</td>
                                                        <td class="song">Cruel Summer</td>
                                                        <td>
                                                            <button class="play-btn" type="button">Play</button>
                                                        </td>
                                                        <td>
                                                            <input type="checkbox" class="checkbox"/>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td><b>2</b></td>
                                                        <td class="artist">Drake</td>
                                                        <td class="song">Virginia Beach</td>
                                                        <td>
                                                            <button class="play-btn" type="button">Play</button>
                                                        </td>
                                                        <td>
                                                            <input type="checkbox" class="checkbox"/>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                                <tfoot>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td>
                                                        <input type="submit" value="Add to current timeslot" id="submit-past-songs"/>
                                                    </td>
                                                </tfoot>
                                            </table>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Footer -->
            <footer>

                <div id="footer-logo">
                    <img src="../../img/logo.png" alt="Logo"><br>
                </div>

                <div class="link-grid" id="footer-links">
                    <div class="grid-item"><a href="">Home</a></div>
                    <div class="grid-item"><a href="">About</a></div>
                    <div class="grid-item"><a href="">Contact</a></div>
                    <div class="grid-item"><a href="">News</a></div>
                </div>
            </footer>
        </div>

        <!-- Audio Player -->
        <div id="audio-player">
            <audio controls>Audio player not supported.</audio>
            <p style="font-style:italic;" id="player-text"><b>Playing:</b> [Song name] - [Artist name]</p>
        </div>
    </div>
</body>
</html>