<meta charset="UTF-8">

    <title>PopCraze Radio</title>
    <link rel="stylesheet" href="/style/dj.css">
    <link rel="stylesheet" href="/style/group06.css">
    <script src="/script/dj.js"></script>