<div id="audio-player" style="display: none;">
    <audio id="audio-control" controls>Your browser does not support the audio player!</audio>
    <div>
        <p id="audio-label" style="margin-top: 0%; margin-bottom: 4px;"><i><b>Playing:</b> [Song name] - [Artist name]</i></p>
        <div id="audio-player-options">
            <button>Details</button>
            <button>Favorite</button>
            <button onclick="closePlayer()">Close</button>
        </div>
    </div>
</div>