<div id="footer-logo">
    <img src="Listener/img/logo.png" alt="PopCraze Logo"><br>
</div>

<div class="link-grid" id="footer-links">
    <div class="grid-item"><a href="">Home</a></div>
    <div class="grid-item"><a href="">About</a></div>
    <div class="grid-item"><a href="">Contact</a></div>
    <div class="grid-item"><a href="">News</a></div>
</div>