<!-- Site logo / Search bar / Welcome -->

<div class="top-grid">
    <!-- Logo -->
    <div class="grid-item" id="sitelogo">
        <img src="Listener/img/logo.png" alt="PopCraze Logo">
    </div>

    <!-- Search -->
    <div class="grid-item" id="search">
        <form id="search-form">
            <input type="text" id="search-bar" name="search" placeholder="Search...">
        </form>
    </div>

    <!-- Welcome -->
    <div class="grid-item" id="welcome">
        Welcome, <%= username %>!
    </div>
</div>

<!-- Navigation -->
<div class="sitenav">

    <!-- General navigation -->
    <div class="link-grid" style="height:100%">
        <div class="grid-item"><a href=""><b>Home</b></a></div>
        <div class="grid-item"><a href=""><b>About</b></a></div>
        <div class="grid-item"><a href=""><b>Contact</b></a></div>
        <div class="grid-item"><a href=""><b>News</b></a></div>
    </div>


    <!-- User-specific navigation -->
    <div class="usernav">
        <button id="user-hover"><b>Listener Menu</b></button>
        <div class="user-options">
            <a href="./index" class="dropdown-option">My Playlists</a>
            <a href="./favorites" class="dropdown-option">Favorites</a>
            <a href="./recommended" class="dropdown-option">Recommended</a>
            <a href="#" class="dropdown-option">Popular Upcoming</a>
            <a href="#" class="dropdown-option">Live Now</a>
            <a href="#" onclick="localStorage.clear();" class="dropdown-option">Log Out</a>
        </div>
    </div>
</div>