<div id="audio-player">
    <audio controls>Your browser does not support the audio player!</audio>
    <div>
        <p style="margin-top: 0%; margin-bottom: 4px;"><i><b>Playing:</b> [Song name] - [Artist name]</i></p>
        <div id="audio-player-options">
            <button>Details</button>
            <button>Favorite</button>
            <button>Close</button>
        </div>
    </div>
</div>
